absl-py
aniso8601
asgiref
asttokens
astunparse
attrs
beautifulsoup4
bleach
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
dj-rest-auth
Django>=5.1
django-cors-headers
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
docopt
executing
fastjsonschema
filelock
Flask
flask-marshmallow
Flask-RESTful
Flask-SQLAlchemy
flatbuffers
fsspec
future
gast
gevent
google-pasta
greenlet
grpcio
h5py
huggingface-hub
idna
imageio
imageio-ffmpeg
instaloader
ipython
itsdangerous
jedi
Jinja2
jsonschema
jupyter_client
jupyter_core
jupyterlab_pygments
keras
Keras-Preprocessing
libclang
llvmlite
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mistune
ml-dtypes
more-itertools
moviepy
mpmath
nbclient
nbconvert
nbformat
networkx
numba
numpy
oauthlib
openai-whisper @ git+https://github.com/openai/whisper.git@173ff7dd1d9fb1c4fddea0d41d704cfefeb8908c
opencv-python
opt_einsum
optree
packaging
pandocfilters
parso
pickleshare
pillow
pipreqs
platformdirs
proglog
prompt_toolkit
protobuf
pure-eval
pycparser
Pygments
PyJWT
PySocks
pytesseract
python-dateutil
python3-openid
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-file
requests-oauthlib
rich
rpds-py
safetensors
scipy
setuptools
six
social-auth-app-django
social-auth-core
soupsieve
SQLAlchemy
sqlparse
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
tesseract
tiktoken
timm
tinycss2
tldextract
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
twython
typing_extensions
tzdata
urllib3
wcwidth
webencodings
Werkzeug
wheel
whisper
wrapt
yarg
zope.event
zope.interface
